											
										   </td>
			                             </tr>
			                        </tbody></table>
			                     </td>
			                  </tr>

               <!--End Quote-->




               <!--1:1 Content-->


               <tr>
                  <td valign="top">
                     <table bgcolor="#FFFFFF" class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                           <td height="30"></td>
                        </tr>

                        <tr>
                           <td height="30" style="border-bottom:1px dashed #bdc3c7;"></td>
                        </tr>
                     </tbody></table>
                  </td>
               </tr>



               <!--Footer-->
 <!--Footer-->

               <tr>
                  <td valign="top">
                     <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>

                      
                        <tr>
                           <td>
                                <table class="table600" bgcolor="#F79433" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                 <tbody><tr>
                                    <td>
                                       <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                          <tbody><tr>
                                             <td align="center" valign="top" height="1"></td>
                                          </tr>

                                          <!--info-->

                                          <tr>
                                             <td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:12px;  line-height:22px;">
                                                 unsubscribeText                                    
                                             </td>
                                          </tr>                                          <!--End info-->

                                          <tr>
                                             <td align="center" valign="top" height="20"></td>
                                          </tr>

                                          <!--Social-->

<!--                                           <tr> -->
<!--                                              <td align="center" valign="top"> -->
<!--                                                 <table width="130" border="0" cellspacing="0" cellpadding="0"> -->
<!--                                                    <tbody><tr> -->
<!--                                                       <td> -->
<!--                                                         <img src="http://gryffindor.digitalmarketsquare.com/apiv2/email/images/twitter.png" width="32" height="32" alt="Like us"> -->
<!--                                                       </td> -->
<!--                                                       <td width="17"></td> -->
<!--                                                      <td> -->
<!-- 													    <a href="https://www.facebook.com/CCMEapp"> <img src="http://gryffindor.digitalmarketsquare.com/apiv2/email/images/facebook.png" width="32" height="32" alt="Follow us"></a> -->
<!--                                                       </td> -->
<!--                                                       <td width="17"></td> -->
<!--                                                       <td> -->
<!--                                                          <img src="http://gryffindor.digitalmarketsquare.com/apiv2/email/images/googleplus.png" width="32" height="32"> -->
<!--                                                       </td> -->
<!--                                                    </tr> -->
<!--                                                 </tbody></table> -->
<!--                                              </td> -->
<!--                                           </tr> -->

                                          <!--End Social-->

                                          <tr>
                                             <td align="center" valign="top" height="30"></td>
                                          </tr>
                                       </tbody></table>
                                    </td>
                                 </tr>
                              </tbody></table>
                           </td>
                        </tr>
                        <tr>
                           <td bgcolor="#2c3e50">
                              <table class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                 <tbody><tr>
                                    <td height="10" bgcolor="#344656"></td>
                                 </tr>
                              </tbody></table>
                           </td>
                        </tr>
                     </tbody></table>
                  </td>
               </tr>
            </tbody></table>
         </td>
      </tr>
      <!--End Footer--> </tbody></table>

</body></html>