
<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>About Me</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-4">

                <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                    <div>
                        <div class="thumbnail">
                            <img alt="" height="300" class="img-responsive" src="img/team/team-3.jpg">
                        </div>
                    </div>
                    <div>
                        <div class="thumbnail">
                            <img alt="" height="300" class="img-responsive" src="img/team/team-9.jpg">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-8">

                <h2 class="shorter">Joe <strong>Doe</strong></h2>
                <h4>Web Designer</h4>

							<span class="thumb-info-social-icons">
								<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
								<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
								<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
							</span>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus.</p>

                <ul class="list icons list-unstyled">
                    <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed ut felis.</li>
                    <li><i class="fa fa-check"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
                    <li><i class="fa fa-check"></i> Iaculis vulputate id quis nisl.</li>
                </ul>

            </div>
        </div>

        <hr class="tall" />

        <div class="row center">

            <div class="col-md-3">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="75" data-plugin-options='{"barColor": "#E36159"}'>
                        <strong>HTML/CSS</strong>
                        <label><span class="percent">75</span>%</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="85" data-plugin-options='{"barColor": "#0088CC", "delay": 300}'>
                        <strong>Design</strong>
                        <label><span class="percent">85</span>%</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="60" data-plugin-options='{"barColor": "#2BAAB1", "delay": 600}'>
                        <strong>WordPress</strong>
                        <label><span class="percent">60</span>%</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="95" data-plugin-options='{"barColor": "#734BA9", "delay": 900}'>
                        <strong>Photoshop</strong>
                        <label><span class="percent">95</span>%</label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg);">
        <div class="container">
            <div class="row center">
                <div class="col-md-12">

                    <div class="row">
                        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                            <div>
                                <blockquote>
                                    <p><i class="fa fa-quote-left"></i> Joe Doe is the smartest guy I ever met, he provides great tech service for each template and allows me to become more knowledgeable as a designer.</p>
                                    <span>- Mark Doe</span>
                                </blockquote>
                            </div>
                            <div>
                                <blockquote>
                                    <p><i class="fa fa-quote-left"></i> He provides great tech service for each template and allows me to become more knowledgeable as a designer.</p>
                                    <span>- Joseph Doe</span>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h3 class="short">My <strong>Work</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <ul class="portfolio-list">
                <li class="col-md-3">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="img/projects/project.jpg">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">SEO</span>
											<span class="thumb-info-type">Website</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
                        </a>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="img/projects/project-1.jpg">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Okler</span>
											<span class="thumb-info-type">Brand</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
                        </a>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="img/projects/project-2.jpg">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">The Fly</span>
											<span class="thumb-info-type">Logo</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
                        </a>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="img/projects/project-3.jpg">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">The Fly</span>
											<span class="thumb-info-type">Website</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
										</span>
                        </a>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</div>