/* Widgets */
.widget {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.widget .widget-extra-full,
.widget .widget-extra {
    position: relative;
    padding: 15px;
}

.widget .widget-extra {
    padding-top: 1px;
    padding-bottom: 1px;
}

.widget .widget-content-light {
    color: #ffffff;
}

.widget .widget-content-light small {
    color: #eeeeee;
}

.widget .widget-image,
.widget .widget-icon {
    width: 64px;
    height: 64px;
}

.widget .widget-icon {
    display: inline-block;
    line-height: 64px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    border-radius: 32px;
}

.widget .widget-icon .gi,
.widget .widget-icon .si,
.widget .widget-icon .hi,
.widget .widget-icon .fi {
    margin-top: -3px;
}

.widget .widget-options,
.widget .widget-options-left {
    position: absolute;
    top: 5px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.widget .widget-options {
    right: 5px;
}

.widget .widget-options-left {
    left: 5px;
}

.widget .widget-options:hover,
.widget .widget-options-left:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.widget-simple {
    padding: 15px;
}

.widget-simple:before,
.widget-simple:after {
    content:" ";
    display:table;
}

.widget-simple:after{
    clear:both;
}

.widget-simple .widget-image,
.widget-simple .widget-icon {
    margin: 0 15px;
}

.widget-simple .widget-image.pull-left,
.widget-simple .widget-icon.pull-left {
    margin-left: 0;
}

.widget-simple .widget-image.pull-right,
.widget-simple .widget-icon.pull-right {
    margin-right: 0;
}

.widget-simple .widget-content {
    font-size: 18px;
    margin: 12px 0;
}

.widget-simple .widget-content small {
    display: block;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 400;
}

.widget-advanced .widget-header {
    position: relative;
    padding: 15px 15px 50px;
    height: 150px;
    overflow: hidden;
}

.widget-advanced .widget-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
}

.widget-advanced .widget-background-map {
    height: 180px;
    width: 100%;
}

.widget-advanced .widget-content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    margin: 0;
    background: url('../img/template/ie8_opacity_dark_60.png') repeat;
    background: rgba(0, 0, 0, 0.6);
}

.widget-advanced .widget-main {
    position: relative;
    padding: 50px 15px 15px;
}

.widget-advanced .widget-image-container {
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: 74px;
    height: 74px;
    top: -36px;
    left: 50%;
    margin-left: -36px;
    border-radius: 36px;
    background-color: #ffffff;
}

.widget-advanced .widget-header .widget-image-container {
    position: static;
    left: auto;
    top: auto;
    margin: 0;
}

.widget-advanced-alt .widget-header,
.widget-advanced-alt .widget-main {
    padding: 15px;
}

.widget-advanced-alt .widget-header {
    height: auto;
    min-height: 150px;
}

/* Link Widgets */
a.widget {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

a.widget:hover,
a.widget:active {
    text-decoration: none;
}

a.widget.widget-hover-effect1:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

a.widget.widget-hover-effect1:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a.widget.widget-hover-effect2:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
}

a.widget.widget-hover-effect2:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.widget.widget-hover-effect3:hover {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

a.widget.widget-hover-effect3:active {
    -webkit-transform: rotate(2deg) scale(0.95);
    transform: rotate(2deg) scale(0.95);
}

a.widget.widget-hover-effect4:hover {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

a.widget.widget-hover-effect4:active {
    -webkit-transform: rotate(-1deg) scale(0.95);
    transform: rotate(-1deg) scale(0.95);
}

/* Content which contains floats */
.content-float .pull-left {
    margin: 0 20px 20px 0;
}

.content-float .pull-right {
    margin: 0 0 20px 20px;
}

/* Draggable Blocks */
.draggable-blocks .block-title {
    cursor: move;
}

.draggable-placeholder {
    background-color: #dddddd;
    border: 1px dashed #999999;
    margin-bottom: 10px;
}

/* Scroll to top link */
#to-top {
    display: none;
    position: fixed;
    bottom: 55px;
    left: 5px;
    border-radius: 3px;
    padding: 0 12px;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.1;
    filter: alpha(opacity=10);
}

#to-top:hover {
    color: #ffffff;
    background-color: #1bbae1;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

/*
/* Timeline */
.timeline {
    position: relative;
}

.timeline-header {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
    min-height: 60px;
    line-height: 60px;
    background-color: #ffffff;
    border-bottom: 2px solid #f0f0f0;
    z-index: 500;
}

.timeline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline-list:after {
    position: absolute;
    display: block;
    width: 2px;
    top: 0;
    left: 95px;
    bottom: 0;
    content: "";
    background-color: #f0f0f0;
    z-index: 1;
}

.timeline-header + .timeline-list:after {
    top: 60px;
}

.timeline-list li {
    position: relative;
    margin: 0;
    padding: 15px 0;
}

.timeline-list.timeline-hover li:hover {
    background-color: #f9f9f9;
}

.timeline-list .timeline-icon {
    position: absolute;
    left: 80px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
    z-index: 500;
}

.timeline-list .active .timeline-icon {
    background-color: #E36159;
    border-color: #E36159;
    color: #ffffff;
}

.timeline-list .timeline-time {
    float: left;
    width: 70px;
    text-align: right;
}

.timeline-list .timeline-content {
    margin-left: 120px;
    text-align: justify; !important;
}

.block-content-full .timeline-content {
    padding-right: 20px;
}

.media-feed {
    margin-bottom: 0;
}

.media-feed > .media {
    margin-top: 0;
    padding: 20px 20px 0;
    border-top: 1px dotted #dbe1e8;
}

.media-feed > .media:first-child {
    border-top: none;
}

.media-feed.media-feed-hover > .media:hover {
    background-color: #f9f9f9;
}

/* Error */
#error-container {
    padding: 120px 20px;
    position: relative;
}

#error-container .error-options {
    position: absolute;
    top: 20px;
    left: 20px;
}

#error-container h1 {
    font-size: 96px;
    color: #ffffff;
    margin-bottom: 40px;
}

#error-container h2 {
    color: #cccccc;
    margin-bottom: 40px;
    line-height: 1.4;
}

#error-container form {
    padding: 20px;
    border-radius: 3px;
    background: #ffffff;
    background: url('../img/template/ie8_opacity_light_10.png') repeat;
    background: rgba(255, 255, 255, 0.1);
}

#error-container .form-control {
    border-color: #ffffff;
}
/*

=================================================================
(#m07hes) HELPERS
=================================================================
*/

.push-bit {
    margin-bottom: 10px !important;
    text-align: left; !important;
}

.push {
    margin-bottom: 15px !important;
}

/* Gallery */
.gallery img, .gallery a img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 110%;
}

a[data-toggle="lightbox-image"],
a.gallery-link {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.gallery a:hover img,
.gallery-image:hover img,
a[data-toggle="lightbox-image"]:hover img {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.gallery-image {
    position: relative;
}

.gallery-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.gallery-image:hover .gallery-image-options {
    display: block;
}

.gallery > .row > div {
    margin-bottom: 15px;
}

.gallery.gallery-widget > .row > div {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Charts */
.pie-chart .pie-avatar {
    position: absolute;
    top: 8px;
    left: 8px;
}

.chart {
    height: 360px;
}

.chart-tooltip,
.mini-chart-tooltip {
    position: absolute;
    display: none;
    color: #ffffff;
    background-color: #000000;
    padding: 4px 10px;
}

.chart-pie-label {
     font-size: 12px;
     text-align: center;
     padding: 8px 12px;
     color: #ffffff;
}

.mini-chart-tooltip {
    left: 0;
    top: 0;
    visibility: hidden;
}

.expandableButton .icon, .survey .icon{
    width: 50px;
    height: 40px;
    position: absolute;
    border: 1px solid #000;
    top: 10px;
    left:10px;
    background-size:contain;
    display: inline-block;
}


.expandableButton.message:hover{
    color: #000;
    background-color:  #69d4e9;
}

.expandableButton.message .icon{
    background-image: url(../img/icons/icon-envelope.png);
    background-color:  #69d4e9;
}


.expandableButton.offer:hover{
    background-color:  #007bc1;
    color: #fff;
}

.expandableButton.offer .icon{
    background-image: url(../img/icons/icon-payment.png);
    background-color:  #007bc1;
}

.expandableButton.offer{
    color:  #007bc1;
}



.expandableButton .validRange{
    font-size: 12px;
    padding-top: 5px;

}

.expandableButton .hasMore{
    color: #000;
    position: absolute;
    width: 16px;
    height: 30px;
    font-size: 32px;
    top: 50%;
    margin-top: -15px;
    right: 16px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    background-position: center right;
}

.expandableButton .hasMore.small{
    width: 16px;
    height: 16px;
}


.expandableButton.active .hasMore{
    right: 15px!important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}



.expandableButton.hasDate{
    padding-right: 150px;
}

.expandableRegion .expandableButton.hasDate .dueDateBox{
    right: 50px;
}

.expandableButton.hasDate .dueDateBox{
    position: absolute;
    right: 20px;
    width: 150px;
    text-align: right;
    top: 17px;
}

.expandableButton.hasDate .dueDateBox .dueBy{
    font-size: 8px;
}

.expandableButton.hasDate .dueDateBox .dueDate{
    font-size: 14px;
}

.expandableButton h4, .survey h4{
    margin: 0px;
    margin-bottom: 5px;
}

.expandableButton p, .survey p{
    font-size: 12px;
    margin: 0px;
}

.expandableButton, .survey{
    padding: 15px;
    padding-right: 50px;
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    padding-left: 70px;
}

.expandableRegion .detail{
    margin-left: 70px;
}


.imgRight{
    width: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
}

audio { width: 90%; display: inline;}